<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Mylogin</servlet-name>
  	<display-name>Mylogin</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Mylogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Mylogin</servlet-name>
  	<url-pattern>/Mylogin</url-pattern>
  </servlet-mapping>
</web-app>
